{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider grey">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner hospital">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Add Condition</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the Condition" required>

					<label for="cause">Cause:</label>
					<input class="form-control" rows="3" maxlength="250" name="cause" placeholder="Cause of the Condition" required>
                    
                    <label for="sympton">Sympton:</label>
					<input class="form-control" maxlength="250" name="sympton" placeholder="Sympton(s) of the Condition" required>
                    
                    <label for="cure">Cure:</label>
					<input class="form-control" maxlength="250" name="cure" placeholder="Cure for the Condition" required>

					<label for="cost">Cost:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="cost" placeholder="Cost in $" required>
					</div>
					<label for="type">Type:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type1" value="Pharmacy" checked="checked">Pharmacy
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type2" value="Psychiatric">Psychiatric
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type3" value="Clinics">Clinics
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="type" id="type4" value="Surgical">Surgical
					  </label>
					</div>
					<button class="btn btn-default btn-extra-margin" id="submit" type="submit">
					   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create
                    </button>
                    <a href="{{ url_for('show_conditions', hospital_id = hospital_id) }}">
                        <button class="btn btn-default btn-extra-margin" id="submit" type="button">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel
                        </button>
                    </a>
				</div>
			</form>
		</div>
	</div>

{% endblock %}

